html,
body {
  height: 1080px;
  width: 1920px;
  overflow: hidden;
  background-image: url(../img/20_background-image.png) !important;
  background-repeat: no-repeat;
  cursor: url(../img/鼠標.png), auto;
}
* {
  cursor: inherit;
}
/* 導航菜單 */
nav {
  padding: 30px 60px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 19px;
}
.nav_menu ul {
  list-style-type: none;
}
.nav_menu ul li {
  display: inline-block;
  margin: 0 20px;
}
.nav_menu ul :last-child {
  margin-right: 0px;
}

/* 按鈕樣式 */
.nav_icon,
.firstpage,
.exhibition,
.aboutus {
  scale: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav_icon:hover,
.firstpage:hover,
.exhibition:hover,
.aboutus:hover {
  scale: 1.06;
}

/* 特殊樣式 */
.firstpage,
.exhibition,
.aboutus {
  opacity: 0.3;
}
.firstpage:hover,
.exhibition:hover,
.aboutus:hover {
  opacity: 1;
}
.carousel-inner {
  position: relative;
  top: 40px;
  left: 480px;
}
.carousel {
  position: relative;
  bottom: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 232px;
  height: 426px;
  position: absolute;
  transform: translateY(200%);
  cursor: url(../img/鼠標.png), auto !important;
  pointer-events: auto;
}

.carousel-control-prev {
  left: 150px !important;
}
.carousel-control-prev img {
  width: 300px;
  height: 500px;
  object-fit: contain;
}

.carousel-control-next {
  right: 150px !important;
}
.carousel-control-next img {
  width: 300px;
  height: 500px;
  object-fit: contain;
}
.carousel-inner img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}
.carousel-control-next img.hover {
  display: none;
}
.carousel-control-next:hover img.default {
  display: none;
}
.carousel-control-next:hover img.hover {
  display: block;
}
.carousel-control-prev img.hover {
  display: none;
}
.carousel-control-prev:hover img.default {
  display: none;
}
.carousel-control-prev:hover img.hover {
  display: block;
}

.radio_style_eye {
  width: 100px;
  height: 100px;
}
.radio_style_eye img {
  width: 130%;
  height: 130%;
}
.radio_style_nose {
  width: 90px;
  height: 90px;
}
.radio_style_nose img {
  width: 100%;
  height: 100%;
}

.eyes {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}
.radio_wrapper {
  position: relative;
  bottom: 675px;
  left: 170px;
  margin: 20px;
}
.radio_wrapper input[type="radio"] {
  display: none;
}
.eye_1 {
  width: 140px;
  position: relative;
  top: 5px;
  right: -20px;
}

.eye_button_default {
  width: 160px;
  height: 160px;
}
.eye_button_default img {
  width: 100%;
  height: 100%;
}
.eye_button_default_1 {
  position: relative;
  top: -5px;
  left: 35px;
}

.eye_2 {
  width: 140px;
  position: relative;
  right: -60px;
  top: 3px;
}
.eye_button_default_2 {
  position: relative;
  left: 70px;
  top: -5px;
}
.eye_3 {
  width: 140px;
  position: relative;
  top: 5px;
  right: -100px;
}
.eye_button_default_3 {
  position: relative;
  top: -5px;
  left: 105px;
}
.eye_4 {
  width: 140px;
  position: relative;
  top: 60px;
  right: -20px;
}
.eye_button_default_4 {
  position: relative;
  top: 55px;
  left: 30px;
}
.eye_5 {
  width: 140px;
  position: relative;
  top: 60px;
  right: -65px;
}
.eye_button_default_5 {
  position: relative;
  top: 55px;
  left: 70px;
}
.eye_6 {
  width: 140px;
  position: relative;
  top: 60px;
  right: -100px;
}
.eye_button_default_6 {
  position: relative;
  top: 57px;
  left: 110px;
}
.eye_7 {
  width: 140px;
  position: relative;
  top: 120px;
  right: -20px;
}
.eye_button_default_7 {
  position: relative;
  top: 121px;
  left: 30px;
}
.eye_8 {
  width: 140px;
  position: relative;
  top: 120px;
  right: -65px;
}
.eye_button_default_8 {
  position: relative;
  top: 122px;
  left: 70px;
}
.eye_9 {
  width: 140px;
  position: relative;
  top: 120px;
  right: -100px;
}
.eye_button_default_9 {
  position: relative;
  top: 122px;
  left: 110px;
}
.noses {
  display: flex;
  width: 385px;
  flex-wrap: wrap;
  position: relative;
  bottom: 50px;
  left: 80px;
}
.nose_1 {
  width: 130px;
  height: 130px;
  position: relative;
  top: 10px;
  right: -35px;
}
.nose_2 {
  width: 130px;
  height: 130px;
  position: relative;
  top: 10px;
  left: 100px;
}
.nose_3 {
  width: 130px;
  height: 130px;
  position: relative;
  top: -30px;
  right: -33px;
}
.nose_4 {
  width: 130px;
  height: 130px;
  position: relative;
  left: 100px;
  top: -30px;
}
.nose_5 {
  width: 135px;
  height: 135px;
  position: relative;
  top: -60px;
  right: -30px;
}
.nose_6 {
  width: 135px;
  height: 135px;
  position: relative;
  top: -60px;
  left: 100px;
}

.nose_button_default {
  position: relative;
  width: 160px;
  height: 160px;
}
.nose_button_default img {
  width: 100%;
  height: 100%;
}

.nose_button_default_1 {
  position: relative;
  right: -20px;
  bottom: 40px;
}
.nose_button_default_1 .hover {
  position: relative;
  bottom: 160px;
}
.nose_button_default_1 .active {
  position: relative;
  bottom: 160px;
}
.nose_button_default_2 {
  position: relative;
  bottom: 40px;
  left: 85px;
}
.nose_button_default_2 .hover {
  position: relative;
  bottom: 160px;
}
.nose_button_default_2 .active {
  position: relative;
  bottom: 160px;
}
.nose_button_default_3 {
  position: relative;
  right: -20px;
  bottom: 74px;
}
.nose_button_default_3 .hover {
  position: relative;
  bottom: 160px;
}
.nose_button_default_3 .active {
  position: relative;
  bottom: 160px;
}
.nose_button_default_4 {
  position: relative;
  bottom: 74px;
  left: 85px;
}
.nose_button_default_4 .hover {
  position: relative;
  bottom: 160px;
}
.nose_button_default_4 .active {
  position: relative;
  bottom: 160px;
}
.nose_button_default_5 {
  position: relative;
  bottom: 103px;
  right: -20px;
}
.nose_button_default_5 .hover {
  position: relative;
  bottom: 160px;
}
.nose_button_default_5 .active {
  position: relative;
  bottom: 160px;
}
.nose_button_default_6 {
  position: relative;
  bottom: 103px;
  left: 85px;
}
.nose_button_default_6 .hover {
  position: relative;
  bottom: 160px;
}
.nose_button_default_6 .active {
  position: relative;
  bottom: 160px;
}
.eyebrows {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}
.eyebrow_button_default {
  width: 160px;
  height: 160px;
}
.eyebrow_1 {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 80px;
  right: -70px;
}
.eyebrow_button_default_1 {
  position: relative;
  bottom: 157px;
  left: 100px;
}
.eyebrow_button_default_1 .hover {
  position: relative;
  bottom: 160px;
}
.eyebrow_button_default_1 .active {
  position: relative;
  bottom: 160px;
}
.eyebrow_2 {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 80px;
  left: 130px;
}
.eyebrow_button_default_2 {
  position: relative;
  bottom: 157px;
  left: 130px;
}
.eyebrow_button_default_2 .hover {
  position: relative;
  bottom: 160px;
}
.eyebrow_button_default_2 .active {
  position: relative;
  bottom: 160px;
}
.eyebrow_3 {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 180px;
  right: -70px;
}
.eyebrow_button_default_3 {
  position: relative;
  bottom: 260px;
  left: 100px;
}
.eyebrow_button_default_3 .hover {
  position: relative;
  bottom: 160px;
}
.eyebrow_button_default_3 .active {
  position: relative;
  bottom: 160px;
}
.eyebrow_4 {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 180px;
  left: 130px;
}
.eyebrow_button_default_4 {
  position: relative;
  bottom: 256px;
  left: 130px;
}
.eyebrow_button_default_4 .hover {
  position: relative;
  bottom: 165px;
}
.eyebrow_button_default_4 .active {
  position: relative;
  bottom: 165px;
}
.eyebrow_5 {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 280px;
  right: -70px;
}
.eyebrow_button_default_5 {
  position: relative;
  bottom: 355px;
  left: 100px;
}
.eyebrow_button_default_5 .hover {
  position: relative;
  bottom: 160px;
}
.eyebrow_button_default_5 .active {
  position: relative;
  bottom: 160px;
}
.eyebrow_6 {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 280px;
  left: 130px;
}
.eyebrow_button_default_6 {
  position: relative;
  bottom: 355px;
  left: 130px;
}
.eyebrow_button_default_6 .hover {
  position: relative;
  bottom: 160px;
}
.eyebrow_button_default_6 .active {
  position: relative;
  bottom: 160px;
}
.mouthes {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  position: relative;
  top: 50px;
}

.mouth_button_default {
  width: 160px;
  height: 160px;
}
.mouth_1 {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 90px;
  right: -50px;
}
.mouth_button_default_1 {
  position: relative;
  bottom: 158px;
  right: -35px;
}
.mouth_button_default_1 .hover {
  position: relative;
  bottom: 160px;
}
.mouth_button_default_1 .active {
  position: relative;
  bottom: 160px;
}
.mouth_2 {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 90px;
  right: -50px;
}
.mouth_button_default_2 {
  position: relative;
  bottom: 158px;
  right: -35px;
}
.mouth_button_default_2 .hover {
  position: relative;
  bottom: 160px;
}
.mouth_button_default_2 .active {
  position: relative;
  bottom: 160px;
}
.mouth_3 {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 90px;
  right: -35px;
}
.mouth_button_default_3 {
  position: relative;
  bottom: 158px;
  right: -35px;
}
.mouth_button_default_3 .hover {
  position: relative;
  bottom: 160px;
}
.mouth_button_default_3 .active {
  position: relative;
  bottom: 160px;
}
.mouth_4 {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 145px;
  right: -50px;
}
.mouth_button_default_4 {
  position: relative;
  bottom: 210px;
  right: -35px;
}
.mouth_button_default_4 .hover {
  position: relative;
  bottom: 160px;
}
.mouth_button_default_4 .active {
  position: relative;
  bottom: 160px;
}
.mouth_5 {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 145px;
  right: -50px;
}
.mouth_button_default_5 {
  position: relative;
  bottom: 210px;
  right: -35px;
}
.mouth_button_default_5 .hover {
  position: relative;
  bottom: 160px;
}
.mouth_button_default_5 .active {
  position: relative;
  bottom: 160px;
}
.mouth_6 {
  width: 130px;
  height: 130px;
  position: relative;
  bottom: 140px;
  right: -50px;
}
.mouth_button_default_6 {
  position: relative;
  bottom: 190px;
  right: -35px;
}
.mouth_button_default_6 .hover {
  position: relative;
  bottom: 160px;
}
.mouth_button_default_6 .active {
  position: relative;
  bottom: 160px;
}
.mouth_7 {
  width: 155px;
  height: 155px;
  position: relative;
  bottom: 200px;
  right: -45px;
}
.mouth_button_default_7 {
  position: relative;
  bottom: 259px;
  right: -35px;
}
.mouth_button_default_7 .hover {
  position: relative;
  bottom: 160px;
}
.mouth_button_default_7 .active {
  position: relative;
  bottom: 160px;
}
.mouth_8 {
  width: 155px;
  height: 155px;
  position: relative;
  bottom: 200px;
  right: -45px;
}
.mouth_button_default_8 {
  position: relative;
  bottom: 259px;
  right: -35px;
}
.mouth_button_default_8 .hover {
  position: relative;
  bottom: 160px;
}
.mouth_button_default_8 .active {
  position: relative;
  bottom: 160px;
}
.mouth_9 {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 200px;
  right: -40px;
}
.mouth_button_default_9 {
  position: relative;
  bottom: 254px;
  right: -35px;
}
.mouth_button_default_9 .hover {
  position: relative;
  bottom: 160px;
}
.mouth_button_default_9 .active {
  position: relative;
  bottom: 160px;
}
.hair {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  position: relative;
  bottom: 50px;
}
.hair_button_default {
  width: 160px;
  height: 160px;
}
.hair_1 {
  width: 200px;
  height: 200px;
  position: relative;
  top: -30px;
  right: -30px;
}

.hair_button_default_1 {
  position: relative;
  top: -104px;
  right: -40px;
}
.hair_button_default_1 .hover {
  position: relative;
  bottom: 160px;
}
.hair_button_default_1 .active {
  position: relative;
  bottom: 160px;
}
.hair_2 {
  width: 200px;
  height: 200px;
  position: relative;
  top: -25px;
  right: -30px;
}
.hair_button_default_2 {
  position: relative;
  top: -104px;
  right: -40px;
}
.hair_button_default_2 .hover {
  position: relative;
  bottom: 160px;
}
.hair_button_default_2 .active {
  position: relative;
  bottom: 160px;
}
.hair_3 {
  width: 200px;
  height: 200px;
  position: relative;
  top: -15px;
  right: -30px;
}
.hair_button_default_3 {
  position: relative;
  top: -104px;
  right: -40px;
}
.hair_button_default_3 .hover {
  position: relative;
  bottom: 160px;
}
.hair_button_default_3 .active {
  position: relative;
  bottom: 160px;
}
.hair_4 {
  width: 200px;
  height: 200px;
  position: relative;
  top: -120px;
  left: 30px;
}
.hair_button_default_4 {
  position: relative;
  top: -208px;
  right: -35px;
}
.hair_button_default_4 .hover {
  position: relative;
  bottom: 160px;
}
.hair_button_default_4 .active {
  position: relative;
  bottom: 160px;
}
.hair_5 {
  width: 200px;
  height: 200px;
  position: relative;
  top: -120px;
  right: -30px;
}
.hair_button_default_5 {
  position: relative;
  top: -208px;
  right: -35px;
}
.hair_button_default_5 .hover {
  position: relative;
  bottom: 160px;
}
.hair_button_default_5 .active {
  position: relative;
  bottom: 160px;
}
.hair_6 {
  width: 200px;
  height: 200px;
  position: relative;
  top: -120px;
  right: -30px;
}
.hair_button_default_6 {
  position: relative;
  top: -208px;
  right: -35px;
}
.hair_button_default_6 .hover {
  position: relative;
  bottom: 160px;
}
.hair_button_default_6 .active {
  position: relative;
  bottom: 160px;
}
.hair_7 {
  width: 200px;
  height: 200px;
  position: relative;
  top: -230px;
  right: -35px;
}
.hair_button_default_7 {
  position: relative;
  top: -304px;
  right: -40px;
}
.hair_button_default_7 .hover {
  position: relative;
  bottom: 160px;
}
.hair_button_default_7 .active {
  position: relative;
  bottom: 160px;
}
.hair_8 {
  width: 200px;
  height: 200px;
  position: relative;
  top: -225px;
  right: -30px;
}
.hair_button_default_8 {
  position: relative;
  top: -304px;
  right: -40px;
}
.hair_button_default_8 .hover {
  position: relative;
  bottom: 160px;
}
.hair_button_default_8 .active {
  position: relative;
  bottom: 160px;
}
.hair_9 {
  width: 200px;
  height: 200px;
  position: relative;
  top: -225px;
  right: -30px;
}
.hair_button_default_9 {
  position: relative;
  top: -304px;
  right: -40px;
}
.hair_button_default_9 .hover {
  position: relative;
  bottom: 160px;
}
.hair_button_default_9 .active {
  position: relative;
  bottom: 160px;
}
.radio_style_eyebrow {
  width: 130px;
  height: 130px;
}
.radio_style_eyebrow img {
  width: 100%;
  height: 100%;
}
.radio_style_mouth {
  width: 130px;
  height: 130px;
}
.radio_style_mouth img {
  width: 100%;
  height: 100%;
}
.radio_style_hair {
  width: 130px;
  height: 130px;
}
.radio_style_hair img {
  width: 100%;
  height: 100%;
}
.eye_button_default img.hover {
  display: none;
}
.eye_button_default:hover img.default {
  display: none;
}
.eye_button_default:hover img.hover {
  display: block;
}
.radio_wrapper .eye_button_default img.active {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .eye_button_default
  img.default {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .eye_button_default
  img.hover {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .eye_button_default
  img.active {
  display: block;
}
.nose_button_default img.hover {
  display: none;
}
.nose_button_default:hover img.default {
  display: none;
}
.nose_button_default:hover img.hover {
  display: block;
}
.radio_wrapper .nose_button_default img.active {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .nose_button_default
  img.default {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .nose_button_default
  img.hover {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .nose_button_default
  img.active {
  display: block;
}
.eyebrow_button_default img.hover {
  display: none;
}
.eyebrow_button_default:hover img.default {
  display: none;
}
.eyebrow_button_default:hover img.hover {
  display: block;
}
.radio_wrapper .eyebrow_button_default img.active {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .eyebrow_button_default
  img.default {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .eyebrow_button_default
  img.hover {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .eyebrow_button_default
  img.active {
  display: block;
}
.mouth_button_default img.hover {
  display: none;
}
.mouth_button_default:hover img.default {
  display: none;
}
.mouth_button_default:hover img.hover {
  display: block;
}
.radio_wrapper .mouth_button_default img.active {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .mouth_button_default
  img.default {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .mouth_button_default
  img.hover {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .mouth_button_default
  img.active {
  display: block;
}
.hair_button_default img.hover {
  display: none;
}
.hair_button_default:hover img.default {
  display: none;
}
.hair_button_default:hover img.hover {
  display: block;
}
.radio_wrapper .hair_button_default img.active {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .hair_button_default
  img.default {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .hair_button_default
  img.hover {
  display: none;
}
.radio_wrapper
  input[type="radio"]:checked
  + label
  .hair_button_default
  img.active {
  display: block;
}

button:disabled {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;
}
.vase {
  position: relative;
  top: 950px;
  left: 90px;
  transition: opacity 0.1s ease;
}
.vase.hidden {
  opacity: 0;
}
.cacarousel_slide {
  position: relative;
  bottom: 590px;
}

#submitButton img {
  width: 400px;
  height: auto;
  position: relative;
  bottom: 1460px;
  left: 170px;
}

#submitButton:hover img.default {
  display: none;
}

#submitButton:hover img.hover {
  display: block;
}
